/*FONTS*/
@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Dosis:wght@600&family=Fraunces:wght@100&family=Fredericka+the+Great&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
/*FONTS*/

.web_logo {
  width: 250px;
  margin-top: 10px;
}
body {
  font-family: 'Raleway', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Oswald', sans-serif !important;
}


.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover {
  color: rgb(255, 255, 255);
}

.navbar {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-bottom: 10px;
  padding-top: 10px;
}

#schedule_header {
  color: white;
  text-align: center;
}
#days, #time, #booking_availability {
  width: 100px;
}
.opening_wrapper {
  background: #111111;
  padding: 35px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 50px;
}

hr {
  border-top: 1px solid #2b2b2b;
}

#index-title {
  color: white;
  font-size: 90px;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link:hover {
  text-decoration: underline;
}

#welcome_footer {
  text-align: center;
  color: #ffab03;
  margin-bottom: 3.5rem;
  text-shadow: 5px 5px 5px black;
  font-family: 'Pacifico', cursive;
}

.title-section {
  text-align: center;
  margin-bottom: 70px;
  position: relative;
  color: white;
}

.menu-section {
  padding: 70px 0 70px;
  background: url("assets/food_background.jpg") center center no-repeat;
}

#foodImg {
  width: 100%;
}

.nav {
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
}

#placeholder_img {
  width: 60%;
  margin: 10px auto;
}

.schedule_title {
  text-align: center;
}

section.popular-menu-section .menu-box .item .menu-post {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background: #2d2f31;
}

section.popular-menu-section .menu-box .item .menu-post .menu-post-content {
  width: 50%;
  float: right;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.menuTitle, .menuPrice {
  color: rgb(252, 186, 3);
} 

.menuTitle, .menuSchedule, .menuDescription, .menuPrice {
  font-family: 'Fredericka the Great', cursive;
}

.menuSchedule, .menuDescription {
  color: white;
}

button {
  padding: 9px 40px;
  background-color:rgb(255, 255, 255);
  border-color: rgba(0, 85, 243,0.8);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 85, 243,0.8);
}

.modal {
  min-height:1000000px; 
}

footer {
  font-family: Agbalumo;
  flex-shrink: 0;
  width: 100%;
  background: #312b2b;
  color: white;
  padding: 20px;
  margin-top: auto;
}

.schedules {
  text-align: center; 
}

.content-footer {
  background-image: url("assets/food_background.jpg");
  color: #fff;
  max-width: 1000px;
  margin: 0 auto;
  text-align : center;
}
.schedule-row {
  font-family: Arial, sans-serif;
  font-size: 14px; /* Smaller font size */
  color: #333;
  padding: 5px; /* Less padding */

  text-align: left;
}
.days_schedule, .hour_schedule {
  margin-bottom: 20px;
}

#hourInputNight {
  margin-bottom: 20px;
}

.dropdown_element {
  text-align: center;
}

#footer-copyright {
  text-align: center;
}

#dateInput {
 margin-bottom: 20px;
}

@media (max-width: 992px) {
  .nav-link {
    margin-right: 10px;
  }
  .web_logo {
    width: 170px
  }
  .main_nav {
    padding-top: 10px;
    flex-direction: row;
  }
  #bookingmodal {
    margin-bottom: 0px;
  }
}

@media (max-width: 596px) {
  .img_brand {
    text-align: center;
    width: 100%;
  }
  .img_brand  {
    display: inline-block;
  }
  .main_nav {
    margin-left: auto;
    margin-right: auto;
  }
}