
.navbar {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-bottom: 10px;
  padding-top: 10px;
}

.border-bottom {
  border-bottom: 5px solid #707070 !important;
}

#foodImg {
  width: 100%;
}

.nav {
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
}

#placeholder_img {
  width: 60%;
  margin: 10px auto;
}

.schedule_title {
  text-align: center;
}

button {
  margin-bottom: 15px;
  padding: 9px 40px;
  background-color:rgb(255, 255, 255);
  border-color: rgba(0, 85, 243,0.8);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 85, 243,0.8);
}